In [46]:
import os
import pandas as pd

In [47]:
folder = 'date'

In [48]:
dfs = []

In [49]:
for file in os.listdir(folder):
    if file.endswith('.json'):
        _folder = os.path.join(folder, file)
        df = pd.read_json(_folder, orient='records')
        if 'result' in df.columns:
            df_normalized = pd.json_normalize(df['result'])
            df = pd.concat([df.drop('result', axis=1), df_normalized], axis=1)

        dfs.append(df)

In [50]:
df_final = pd.concat(dfs, ignore_index=True).drop_duplicates()

In [51]:
df_final.to_csv('data.csv', index=False)

In [52]:
df_final

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,fiscalDateEnding,updatedFromDate
0,2018-01-01,RHM.DE,2.85000,NaN,bmo,1.722000e+09,NaN,2018-01-01,2023-08-16
1,2018-01-02,TLG.TO,-0.01724,NaN,bmo,NaN,NaN,2017-10-31,2023-10-16
2,2018-01-02,4439.T,NaN,NaN,bmo,NaN,NaN,2017-11-30,2023-05-17
3,2018-01-02,ZMSPF,NaN,NaN,bmo,NaN,NaN,2018-03-31,2023-05-17
4,2018-01-02,CHXMF,NaN,NaN,bmo,NaN,NaN,2018-03-31,2023-05-17
...,...,...,...,...,...,...,...,...,...
60493,2023-12-03,4100.SR,0.41000,NaN,bmo,2.491896e+08,NaN,2023-09-30,2023-12-03
60494,2023-12-03,NEXS.L,NaN,NaN,bmo,NaN,NaN,2023-09-29,2023-12-03
60495,2023-12-03,0HEM.L,NaN,NaN,bmo,NaN,NaN,2024-03-31,2023-11-16
60496,2023-12-03,601963.SS,NaN,NaN,bmo,NaN,NaN,2023-06-30,2023-12-03
60497,2023-12-03,NPK.JO,NaN,NaN,bmo,NaN,NaN,2023-12-31,2023-12-03