In [10]:
import os
import pandas as pd

In [11]:
folder = 'date'

In [12]:
dfs = []

In [13]:
for file in os.listdir(folder):
    if file.endswith('.json'):
        _folder = os.path.join(folder, file)
        df = pd.read_json(_folder, orient='records')
        if 'result' in df.columns:
            df_normalized = pd.json_normalize(df['result'])
            df = pd.concat([df.drop('result', axis=1), df_normalized], axis=1)

        dfs.append(df)

In [14]:
df_final = pd.concat(dfs, ignore_index=True)

In [15]:
df_final.to_csv('data.csv', index=False)

In [16]:
df_final

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,fiscalDateEnding,updatedFromDate
0,2018-01-01,RHM.DE,2.85000,NaN,bmo,1.722000e+09,NaN,2018-01-01,2023-08-16
1,2018-01-02,TLG.TO,-0.01724,NaN,bmo,NaN,NaN,2017-10-31,2023-10-16
2,2018-01-02,4439.T,NaN,NaN,bmo,NaN,NaN,2017-11-30,2023-05-17
3,2018-01-02,ZMSPF,NaN,NaN,bmo,NaN,NaN,2018-03-31,2023-05-17
4,2018-01-02,CHXMF,NaN,NaN,bmo,NaN,NaN,2018-03-31,2023-05-17
...,...,...,...,...,...,...,...,...,...
38106,2021-05-17,357780.KQ,5327.00000,5420.33,bmo,NaN,2.701500e+08,2021-03-31,2023-05-17
38107,2021-05-17,CRDL.TO,0.26000,0.14,bmo,NaN,NaN,2021-03-31,2023-08-25
38108,2021-05-17,BUSXF,NaN,NaN,bmo,NaN,NaN,2021-03-31,2023-05-17
38109,2021-05-17,USWS,-7.35000,-3.87,bmo,7.625800e+07,5.308272e+07,2021-03-30,2023-08-16
38110,2021-05-17,QST.V,0.03000,0.01,bmo,1.548391e+06,NaN,2021-03-31,2023-08-25